h1 {
       font-size: 24px;
       font-family: 'Times New Roman', Times, serif;
       color: #38B2AC;

}

h2 { 
        font-size: 21px;
        font-family: 'Times New Roman', Times, serif;
        color: #5A67D8;
}

p {
        font-size: 18px;
        font-family: ;
}